/* Light mode styles */
body {
    background-color: white;
    color: black;
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: black;
    color: white;
  }
  body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.editor {
    margin-top: 20px;
}
